.container {
  margin: 20px auto;
  width: 600px;
  padding: 0 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

nav div{
  display: inline;
}

.post_upvote{
  width: 20px;
  height: 20px;
  background-color: #666;
  cursor: pointer;
}

.post_upvote:hover{
  background-color: green;
}

.comment_upvote{
  width: 20px;
  height: 20px;
  background-color: #666;
  cursor: pointer;
}

.comment_upvote:hover{
  background-color: orange;
}
