<div id="sign_in">
  <div class="header">Login</div>
  <form id="login" action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="login">
  </form>

  <div class="header">Sign Up</div>
  <form id="signup" action="/users" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="signup">
  </form>
</div>
