<title id="newpost"> New Post </title>


<form id="post" action="/posts" method="POST">
  <input id="title" type="text" name="title" placeholder="Post Title"</input>
  <input id="url" type="text" name="url" placeholder="Article URL"</input>
  <textarea id="body" name="body" rows="6" cols="60" placeholder="Your post"></textarea>
  <input type="submit"></input>
</form>
